body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend .tier_1 {
  color: #6aa84f;
}

.legend .tier_2 {
  color: #b6d7a8;
}

.legend .tier_3 {
  color: #ffd966;
}

.legend .tier_4 {
  color: #f9cb9c;
}

.legend .tier_5 {
  color: #e69138;
}

.legend .tier_6 {
  color: #cc0000;
}